<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mõõgamatkad</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="moogamatkad.css">
    <script src="/moogamatkad.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="paisSektsioon">
            <div class="container">
                <%- include("../partials/menyy.ejs") %>
                    <div class="row">
                        <div class="col-12 col-lg-6 paisSekstioon-pealkirjad">
                            <div class="rida">
                                <h2>Seiklusmatkad</h2>
                                <img src="./assets/Butterfly.png" class="liblikas1" alt="kollane_liblikas">
                            </div>
                            <div class="rida">

                                <h1>Ajaloo radadel</h1>
                            </div>
                            <div class="rida">
                                <h3>
                                    Paki kott ja läheme avastama!
                                </h3>
                            </div>
                            <a href="/#tulevasedmatkad" class="rida calltoaction">
                                <h4>
                                    <img src="./assets/Liblikas_sinine.png" class="liblikas2" alt="sinine_liblikas">
                                    Registreeru matkale
                                </h4>
                            </a>
                        </div>
                        <div class="d-none d-lg-block col-lg-6 pealispilt">
                            <img class="matkaline" src="./assets/matkaline_pildistamas.png" alt="">
                            <img class="vari" src="./assets/vari.png" alt="">
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <main>
        <div class="matkadeSektsioon" id="tulevasedmatkad">
            <div class="matkadeTutvustus">
                <div class="col-lg-5">
                    <h5>Tulevased matkad</h5>
                    <h3>Leia Oma Unistuste Sihtmärk</h3>
                    <p class="tulevasedmatkadtutvustus">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
                        quam adipisci fugit accusantium!
                        Quod aut illo harum, praesentium quisquam minus error sint magnam impedit cupiditate saepe!
                        Iusto
                        officia optio magni!</p>
                </div>
                <div class="col-lg-5"></div>
            </div>
            <div class="matkadKonteiner row">
                <% for (let i=0; i < matkad.length; i++) { %>
                    <div class="col-md-4 card">
                        <img class="card-img-top" src="<%= matkad[i].pildiUrl %>" alt="">
                        <div class="card-body">
                            <h3 class="card-title">
                                <%= matkad[i].nimetus %>
                            </h3>
                            <p>
                                <%= matkad[i].kirjeldus %>
                            </p>
                            <p>
                                Registreerunud osalejaid: <%= matkad[i].osalejad.length %>
                            </p>
                            <% if (matkad[i].kasRegistreerumineAvatud) { %>
                                <a href="/registreerumine/<%= i %>" class="btn btn-primary">Registreeru</a>
                                <% } else { %>
                                    <div class="alert alert-info">Registreerumine suletud!</div>
                                    <% } %>
                                        <a href="/matk/<%= i %>" class="btn btn-primary">Vaata täpsemalt</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="quote">
            <div class="quotetekst">
                <h5>Oleme suurim ja turvaliseim matkaühendus</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil est ut necessitatibus dolore? Neque
                    repellendus quos possimus, ipsa officiis sapiente voluptatem nemo deleniti qui assumenda quasi
                    voluptas
                    corrupti, ullam fugit.</p>
            </div>
        </div>
        <div class="uudiskiri row">
            <div class="col-lg-5 randur">
                <img class="seljakotirandur" src="./assets/seljakotirandur.jpeg" alt="">
                <img class="vaikevari" src="" alt="">
            </div>
            <div class="col-lg-5 kutseuudiskirjale">
                <div>
                    <h3>Kas soovid end hoida kursis matkade imelise maailmaga?</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur labore consequuntur porro
                        culpa
                        dolorem mollitia neque sequi illo quaerat? Vero provident odio mollitia inventore ducimus dolore
                        eum
                        totam modi facere.</p>
                </div>
                <div class="liituuudiskirjaga">
                    <a href="/#">
                        <p>Liitu uudiskirjaga</p>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <div class="footer">
        <%- include("../partials/footer.ejs") %>
    </div>
</body>

</html>